<section class="search-section">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <form class="form-inline d-flex">
                <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="searchTxt" placeholder="Enter product name...">
                <button type="submit" class="btn btn-primary mx-auto">Add</button>
            </form>
        </div>
    </div>
</section>