<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">Pet Food Analyzer</h1>
    <h3 class="mb-5">
      <em>Search pet food</em>
    </h3>
    {{> search }}
  </div>
  <div class="overlay"></div>
</header>
{{#if petfoods}}
  {{> petfoodlist }}
{{/if}}
